---
import { marked } from "../../lib/marked";
import { Tag, BlogPost, contentfulClient } from "../../lib/contentful";
import Layout from "../../layouts/Layout.astro";
import type { Entry } from "contentful";

interface Props {
  title: string;
  content: string;
  date: string;
  description: string;
  tags: string[];
}

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<BlogPost>({
    content_type: "blogPost",
  });

  const pages = entries.items.map((item) => {
    const { slug, title, content, date, description, tags = [] } = item.fields;

    return {
      params: { slug },
      props: {
        title: title,
        content: marked.parse(content),
        date: new Date(date).toLocaleDateString(),
        description,
        tags: tags.map((tag) => (tag as Entry<Tag>).fields.name),
      },
    };
  });

  return pages;
}

const { content, title, date, description, tags } = Astro.props;
---

<Layout title={title} description={description}>
  <h1>{title}</h1>
  {tags.map((tag) => <span>{tag}</span>)}
  <time>{date}</time>
  <article class="prose" set:html={content} />
</Layout>
